# Compiled class files
*.class

# Build directories
target/
build/
out/

# Maven / Gradle
!.mvn/wrapper/maven-wrapper.jar
.gradle/

# IDEs
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Packages & logs
*.jar
*.war
*.ear
*.log

# OS files and secrets
.DS_Store
Thumbs.db
.env